{% extends 'base.html' %}

{% block sidebar %}

<body>
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="{% url 'trelas-view' %}">
                    <i class="bi bi-grid"></i>
                    <span>Procurar</span>
                </a>
            </li><!-- End Dashboard Nav -->



            <li class="nav-heading">Configuração</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'encarregado-view' %}">
                    <i class="bi bi-person"></i>
                    <span>Upload</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'modificar-excel' %}">
                    <i class="bi bi-pencil"></i>
                    <span>Modificar</span>
                </a>
            </li><!-- End Profile Page Nav -->

        </ul>

    </aside><!-- End Sidebar-->
</body>
{% endblock %}

{% block breadcrumb %}
<h1>Upload excel</h1>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Fazer upload do plano de descarga do navio.</li>
    </ol>
</nav>

<p>Deve ser seguido o formato do excel especificado no template.</p>

{% endblock %}

{% block content %}

<form enctype="multipart/form-data" action="/upload/" method="post">
    {% csrf_token %}

    <input id="excel_input" name="myfile" type="file" />

    <button class="btn btn-primary" type="submit">Upload</button>
</form>

{% endblock %}